body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  color: #000;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex: 1;
  margin-top: 60px;
}


/* Responsive */
@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }
}